.team-page {
  background-color: #f4f4fd;
}
.team-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-page-list {
  display: flex;
  gap: 24px;
}
.team-page-item {
  width: calc((100% - 72px) / 4);
  background-color: white;
  border-radius: 0 0 4px 4px;
}
.team-page-item img {
  display: block;
}
.team-page-persone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
